<a href="https://colab.research.google.com/github/Sunkari-Amulya/Python-Assignment-2/blob/master/Python_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question 1
a=float(input("Enter first side of triangle"))
b=float(input("Enter second side of triangle"))
c=float(input("Enter third side of triangle"))
s = (a + b + c) / 2
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print("Area of triangle is",area)

Enter first side of triangle5
Enter second side of triangle5
Enter third side of triangle5
Area of triangle is 10.825317547305483

In [ ]:
#Question 2
a=input("Enter any string")
b=a[::-1]
if (a==b) :
  print ( "The given string is palindrome\n",a) 
else :
  print ("The given string is not a palindrome")

Enter any string10
The given string is not a palindrome

In [ ]:
#Question 3
y=int(input("Enter year"))
if y%4==0 :
  print ("The given year {} is a leap year",format(y))
else :
  print ("The given year {} is a not a leap year",format(y))

Enter year2020
The given year {} is a leap year 2020

In [ ]:
#Question 4
s=input("Enter a string")
for i in range (0,len(s)) :
   if s[i]==' ' :
      s=s.replace(s[i],'-')
print (s)

Enter a string50
50

In [ ]:
#Question 5
s=input("Enter the string ")
i =s.split()
i.sort()
for a in i :
   print(a)

Enter the string 100
100

In [ ]:

#Question 6
s=int(input("Enter your salary"))
if s<=250000 :
  print ("No tax")
elif 250001<=s<=500000 :
  print ("Tax to be paid is ",(s*5)/100)
elif 500001<=s<=750000 :
  print ("Tax to be paid is ",(s*10)/100)
elif 750001<=s<=1000000 :
  print ("Tax to be paid is ",(s*15)/100)
elif 1000001<=s<=1250000 :
  print ("Tax to be paid is ",(s*20)/100)
elif 1250001<=s<=1500000 :
  print ("Tax to be paid is ",(s*25)/100)
else :
  print ("Tax to be paid is ",(s*30)/100)

Enter your salary25000
No tax

In [ ]:

#Question 7
n=(input("Enter first integer"))
m=(input("Enter second integer"))
o=(input("Enter third integer"))
print(n+m+o)

Enter first integer1
Enter second integer2
Enter third integer3
123

In [ ]:

#Question 8
d=int(input("Enter no.of days"))
h=int(input("Enter no.of hours"))
m=int(input("Enter no.of minutes"))
s=int(input("Enter no.of seconds"))
t=d*24*60*60+h*60*60+m*60+s
print ("The duration is ",t)

Enter no.of days0
Enter no.of hours1
Enter no.of minutes1
Enter no.of seconds1
The duration is  3661

In [ ]:

#Question 9
n=int(input("Enter first integer"))
m=int(input("Enter second integer"))
o=int(input("Enter third integer"))
s=[n,m,o]
j=s[0]+s[1]+s[2]-max(s)-min(s)
print(max(s),j,min(s))

Enter first integer1
Enter second integer2
Enter third integer3
3 2 1

In [ ]:
#Question 10
y=int(input("Enter year YYYY"))
m=int(input("Enter month MM"))
d=int(input("Enter date DD"))
0<m<13
0<d<32
if d==31 and m==12 :
   print ("YYYY-MM-DD : {}-01-01".format(y+1))
elif (d==31 and (m==1 or 3 or 5 or 7 or 8 or 10)) :
   print ("YYYY-MM-DD : {}-{}-01".format(y,m+1))
elif ( d==30 and (m==4 or 6 or 9 or 11)) :
   print("YYYY-MM-DD : {}-{}-01".format(y,m+1))
elif ( d==28 and m==2 and y%4==0):
   print ("YYYY-MM-DD : {}-{}-29".format(y,m))
elif (d==28 and m==2):
   print ("YYYY-MM-DD : {}-03-01".format(y))
else :
   print ("YYYY-MM-DD : {}-{}-{}".format(y,m,d+1))

Enter year YYYY2020
Enter month MM3
Enter date DD24
YYYY-MM-DD : 2020-3-25

In [ ]:

#Question 11
def p(a,b,c,d,e,f,g,h) :
   return a*b*c*d*e*f*g*h
p(45,3,2,89,72,1,10,7)

121111200

In [ ]:
 
#Question 12
def p(a,b,c,d,e,f) :
  return a+b,b+c,c+d,d+e,e+f
p(5,6,8,34,89,1)

(11, 14, 42, 123, 90)

In [ ]:
 
#Question 13
def p(a,b,c,d,e,f) :
  return a,a*b,a*b*c,a*b*c*d,a*b*c*d*e,a*b*c*d*e*f
p(5,6,8,3,9,1)

(5, 30, 240, 720, 6480, 6480)

In [ ]:
 
#Question 14
num=int(input("Enter a number "))
returnlist=[]
for i in str(num):
      returnlist. append(int(i)) 
print (returnlist)

Enter a number 25369
[2, 5, 3, 6, 9]

In [ ]:
#Question 15
string=input("Enter a palindrome ")
STR1=[]
STR2=[]
Index=0
for i in range(0,len(string)-1):
    for j in range(i+1,len(string)+1):
        if j-i>1:
           q=string[i:j]
           if (q==q[::-1]):
              STR1.append(string[i:j])
              STR2.append(len(string[i:j]))
Maximum=max(STR2)
for i in STR2:
    if i==Maximum:
       print(STR1[Index])
    else:
       Index=Index+1

Enter a palindrome racecar
racecar

In [ ]:
#Question 16
Num1=input("enter a binary number of length 10")
Num2=input("enter a binary number of length 5")
if Num2[:] in Num1[:]:
   print(1)
else:
   print(0)

enter a binary number of length 1010
enter a binary number of length 55
0